body{
    font-size: 30px;
    font-family: 'Zen Loop', cursive;
    background-color: rgb(238, 189, 184);
}

.header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(230, 124, 124);
    font-weight: bold;
    font-size: 40px;

    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 5px;
}

.tododiv_style{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  
    
}

.donediv_style{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  
}

.task_style{
    display: flex;
    flex-direction: row;
    background-color: khaki;
    

    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 0.75rem;
   
}

.done_style{
    background-color: rgb(143, 240, 140);
    text-decoration: line-through;

    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 0.75rem;
}

.btn_style{
    margin: 2px 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 100%;
    
}